<div class="bg-[#016630] mt-8 px-4 py-8 text-white text-[1.2rem] font-medium">
  <div class="flex flex-row mx-20 items-center h-16">
    <div class="w-1/4">Profile</div>
    <div class="w-1/4">Manage your Spendings</div>
    <div class="w-1/4">Support</div>
  </div>
  <div class="flex flex-row mx-20 items-center h-16">
    <div class="w-1/4">Home</div>
    <div class="w-1/4">Create new Spending</div>

  </div>
  <div class="flex flex-row mx-20 items-center h-16">
    <div class="w-1/4">Dashboard</div>
  </div>
</div>
<div
  class=" text-[#016630] h-20 px-8 text-[1.1rem] text-center flex justify-between items-center"
>
  <div>
    <a class="font-extrabold text-2xl no-underline " href="/">
      SpendApp
    </a>
  </div>
  <div>
    Made with <span class="text-red-500">❤️</span> by
    <a
      href="https://linkedin.com/in/rahulkumarpahwa"
      class=" underline hover:text-[#41a204]"
    >
      Rahul Kumar
    </a>
  </div>
  <div>
    © 2026 SpendApp. All rights reserved.
    <a href="#" class="text-white underline hover:text-[#61e212] ml-2">
      Privacy Policy
    </a>
  </div>
</div>
