<div class="shadow shadow-black flex flex-col items-center justify-center p-8 m-8 rounded gap-3 w-4xl">
  <input
    type="email"
    placeholder="Enter Email"
    class="border border-black rounded text-center w-full"
    [value] ="user.email"
    (input) = "onInputEmail($event)"
  />
  <input
    type="password"
    placeholder="Enter Password"
    class="border border-black rounded text-center w-full"
    [(ngModel)] = "user.password"
  />
  <button type="submit" class="w-full bg-black text-white" (click)="onLogin()">Login</button>
</div>
